
*.csv
*.pptx
*.Rproj
*.png
*.svg
*.mp4
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
*.json
*.js
*.css
*.map
*.rdf
.Rproj.user/406119FB/sources/s-C405F6FC/lock_file
.DS_Store
.gitattributes
.RData
.Rhistory
*.pper
.Rproj.user/406119FB/persistent-state
.Rproj.user/406119FB/rmd-outputs
.Rproj.user/406119FB/saved_source_markers
.Rproj.user/406119FB/sources/prop/2329368D
.Rproj.user/406119FB/sources/prop/2D0F1904
.Rproj.user/406119FB/sources/prop/6526CE61
.Rproj.user/406119FB/sources/prop/8CDFA4AC
.Rproj.user/406119FB/sources/prop/A160B79D
.Rproj.user/406119FB/sources/prop/B60AF36B
.Rproj.user/406119FB/sources/prop/B9DE37EE
.Rproj.user/406119FB/sources/prop/BC182886
.Rproj.user/406119FB/sources/prop/C3DA2948
.Rproj.user/406119FB/sources/prop/CB2A23E6
.Rproj.user/406119FB/sources/prop/D01F0D70
.Rproj.user/406119FB/sources/prop/EE51E971
.Rproj.user/406119FB/sources/prop/INDEX
.Rproj.user/406119FB/sources/s-C405F6FC/1C029A95-contents
.Rproj.user/406119FB/sources/s-C405F6FC/30456118-contents
.Rproj.user/406119FB/sources/s-C405F6FC/3EEB1EBA-contents
.Rproj.user/406119FB/sources/s-C405F6FC/4177437B-contents
.Rproj.user/406119FB/sources/s-C405F6FC/9C56DA9E
.Rproj.user/406119FB/sources/s-C405F6FC/9C56DA9E-contents
.Rproj.user/406119FB/sources/s-C405F6FC/CA03A2A1-contents
.Rproj.user/406119FB/sources/s-C405F6FC/DD6AA145
.Rproj.user/406119FB/sources/s-C405F6FC/DD6AA145-contents
.Rproj.user/shared/notebooks/60DD97B2-Course/1/s/cr9z9etph43so/000003.metadata
*.error
*.txt
